
#resume {
	font: 16px 'Open Sans', Helvetica, Arial, sans-serif;
	line-height: 1.4;
	margin-bottom: 100px;
	/* box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
	margin: 2em auto 2em auto;
	max-width: 960px;
	padding: 1em;
}
em {
	color: #999;
}
p {
	line-height: 1.6;
	font-size: 90%;
}

a {
	text-decoration: none;
	font-weight: 400;
}
ul {
	margin-bottom: 0;
}
section {
	margin: 1em 0 2em;
}
blockquote {
	margin: 0;
	margin-bottom: 1em;
}

/* Resume heading */
.heading header {

}

.heading header h1 {
	font-size: 180%;
	margin: 0.5em 0;
	font-weight: 600;
}

.heading header h2 {
	font-size: 140%;
	margin: 0;
	font-weight: 400;
}

.heading header .contact .detail {
	margin: 0 1em 0 0;
}

.profile {
	display: inline-block;
	margin: 0 1em 0 0;
}

.profile strong,
.profile span {
	display: inline-block;
	margin: 0 1em 0 0;
}
/* section / line breaks */
section h2 {
	font-size: 140%;
	font-style: normal !important;
	margin: 0 0 1em;
	text-transform: uppercase;
	font-weight: 400;
}

/* Experience items */
.item {
	margin: 0 0 1em;
	padding: 0 0 1em;
	border-bottom: 1px solid #F2EBEC;
}

.item:last-child {
	border-bottom: none;
}


.item header h3 {
	margin: 0.2em 1em 0.2em 0;
	display: inline-block;
	font-weight: 600;
}

.item header a {
	display: inline-block;
}

.item .heading {
	display: flex;
}

.item .position .title {
	font-weight: 600;
	font-size: 100%;
	margin: 0.2em 1em 0.2em 0;
}

.item .startDate,
.item .endDate {
	color: #6B6B6B;
}

.item .startDate {
	margin-left: auto;
}

.item .highlights {
	list-style: square;
	font-size: 90%;
}

/* skills */
#skills .item {
	margin: 0.5em 0;
	padding: 0 0 0.5em;
	font-size: 90%;
}

#skills .item .name {
	font-weight: 600;
	text-transform: uppercase;
}

/* @media (prefers-color-scheme: light) { */
html[data-theme='light'] #resume a {
	color: #2C85B1 !important;
}

html[data-theme='light'] section h2 {
	color: #BC1B39 !important;
}

/* @media (prefers-color-scheme: dark) {*/
html[data-theme='dark'] #resume a {
	color: #A5C9EA !important;
}

html[data-theme='dark'] section h2 {
	color: #CE99A3 !important;
}

@media(min-width: 600px) {
	#skills .item .name {
		display: inline-block;
		margin: 0 1em 0 0;
		width: 23%;
		vertical-align: top;
	}
	#skills .item .keywords {
		display: inline-block;
		width: 70%;
		vertical-align: top;
	}

	/* education */
	#education .item {
		display: inline-block;
		vertical-align: top;
		width: 49.5%;
		border-bottom: 0;
	}

}
